
$red: #DB7676;
$blue: #7682DB;
$orange: #DBA476;
$green: #76DBAC;
$yellow: #CFDB76;
$pink: #DB76B8;

.filler-label{
  height: 20px;
  flex: 2;
}

.channel-icon{
  margin: 2px;
}

.channel-name-header{
  font-size: 14px;
  text-transform: uppercase;
}

.channel-label-header{
  flex: 1;
  margin-right: 5px;
}

.channel-box-message-box{
  margin-left: 40px;
  //30px for margin left when 250 x 250
  margin-right: 10px;
  margin-top: 20px;
}

.channel-box-icon-red {
  color: $red;
}
.channel-box-icon-blue {
  color: $blue;
}
.channel-box-icon-orange {
  color: $orange;
}
.channel-box-icon-green {
  color: $green;
}
.channel-box-icon-yellow {
  color: $yellow;
}
.channel-box-icon-pink {
  color: $pink;
}


.channel-box-label-red {
  background-color: $red;
}
.channel-box-label-blue {
  background-color: $blue;
}
.channel-box-label-orange {
  background-color: $orange;
}
.channel-box-label-green {
  background-color: $green;
}
.channel-box-label-yellow {
  background-color: $yellow;
}
.channel-box-label-pink {
  background-color: $pink;
}


@mixin channelBox($color){
    border: 5px solid $color;
    height: 275px;
    width: 275px;
    background-color: transparent;
    // margin-bottom: 25px;

}

.channel-box-red {
  @include channelBox($red);

}
.channel-box-blue {
  @include channelBox($blue);

}
.channel-box-orange {
  @include channelBox($orange);

}
.channel-box-green {
  @include channelBox($green);

}
.channel-box-yellow {
  @include channelBox($yellow);

}
.channel-box-pink {
  @include channelBox($pink);

}
