.channel-feed-container
{
  height: calc(100% * (1/6));
  .channel-feed-header
  {
    display: flex;
    height: 10%;
    .channel-feed-header-icon
    {
      flex: 1;
      font-size: 2em;
      //color: {{color}};
    }
    .channel-feed-header-name
    {
      flex: 3;
      color: white;
    }
    .channel-feed-header-posts
    {
      flex: 8;
      //background-color: {{color}};
      color: white;
    }
    .channel-feed-red
    {
      background-color: #DB7676;
    }
    .channel-feed-blue
    {
      background-color: #7682DB;
    }
    .channel-feed-orange
    {
      background-color: #DBA476;
    }
    .channel-feed-green
    {
      background-color: #76DBAC;
    }
    .channel-feed-yellow
    {
      background-color: #CFDB76;
    }
  }
  .channel-feed-messages
  {
    height: 90%;
    background-color: black;
  }
}
