// .messageBoxbackgroundDiv{
//   width: 170px;
//   height: 135px;
//   background-color: #94979A;
// }

.messageBoxTextDiv{
  width: 162px;
  height: 125px;
  color: white;
  background-color: #525252;
  border: solid #94979A 8px;
  text-align: center;
}

.messageBoxTimeDiv{
  font-size: 16px;

}
