// .messageBoxbackgroundDiv{
//   width: 170px;
//   height: 135px;
//   background-color: #94979A;
// }

.messageBoxTextDiv {
  width: 162px;
  height: 125px;
  color: white;
  font-size: 12px;
  background-color: #525252;
  border: solid #94979A 8px;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  overflow: hidden;
}

.messageBoxDateDiv {
  width: 170px;
  font-size: 20px;
  color: #818386;
  text-align: right;

  span {
    color: #DB7676;
    font-size:.60em;
    vertical-align: top;
  }
}

.messageBoxAuthorDiv {
  @extend .messageBoxDateDiv;
}

.messageDetailsReactionDiv {
  width: 480px;
  height: 190px;
  background-color: white;
  color: #94979A;
  border: solid lightgrey 1px;
}

.messageDetailsDateDiv {
  color: #818386;
  text-align: right;
  width: 480px;
  font-size: 36px;

  span {
    color: #DB7676;
    font-size:.60em;
     vertical-align: top;
  }
}

.messageDetailsAuthorDiv {
  @extend .messageDetailsDateDiv;
}

.messageDetailsTextDiv {
  font-size: 18px;
  white-space: normal;
  color: white;
  height: 180px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;

}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

.modalContent {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 530px;
  height: 470px;
  background-color: #525252;
}

.exit-button {
  position: relative;
  float: right;
  top: 0;
}
