
$red: #DB7676;
$blue: #7682DB;
$orange: #DBA476;
$green: #76DBAC;
$yellow: #CFDB76;
$pink: #DB76B8;


.channel-box-icon-red {
  color: $red;
}
.channel-box-icon-blue {
  color: $blue;
}
.channel-box-icon-orange {
  color: $orange;
}
.channel-box-icon-green {
  color: $green;
}
.channel-box-icon-yellow {
  color: $yellow;
}
.channel-box-icon-pink {
  color: $pink;
}


.channel-box-label-red {
  background-color: $red;
}
.channel-box-label-blue {
  background-color: $blue;
}
.channel-box-label-orange {
  background-color: $orange;
}
.channel-box-label-green {
  background-color: $green;
}
.channel-box-label-yellow {
  background-color: $yellow;
}
.channel-box-label-pink {
  background-color: $pink;
}
