

$firstColor: black;
$secondColor: blue;
$thirdColor: red;
$fourthColor: green;
$fifthColor: orange;
$sixthColor: yellow;

.box-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  channel-box{
    width: 20%;
    height: 300px;

  }
}

.app-channel-feed-div{
  margin-bottom: 5%;
}

@mixin channelBox($color){
    border: 3px solid $color;
    height: 250px;
    width: 28%;
    background-color: transparent;
    margin-bottom: 25px;

}

//==============================

.channel-box-red {
  @include channelBox(#DB7676);

}
.channel-box-blue {
  @include channelBox(#7682DB);

}
.channel-box-orange {
  @include channelBox(#DBA476);

}
.channel-box-green {
  @include channelBox(#76DBAC);

}
.channel-box-yellow {
  @include channelBox(#CFDB76);

}
.channel-box-pink {
  @include channelBox(#DB76B8);

}

//==============================

.channel-box{
  @include channelBox($firstColor);
}

.General-box{
  @include channelBox($firstColor);
}

.Introductions-box{
  @include channelBox($secondColor);
}

.Random-box{
  @include channelBox($thirdColor);
}

.Relocation-box{
  @include channelBox($fourthColor);
}

.Speakers-box{
  @include channelBox($fifthColor);
}

.Announcements-box{
  @include channelBox($sixthColor);
}
