
$red: #DB7676;
$blue: #7682DB;
$orange: #DBA476;
$green: #76DBAC;
$yellow: #CFDB76;
$pink: #DB76B8;

.filler-label{
  height: 5%;
  flex: 2;
}

.channel-icon{
  margin: 2px;
}

.channel-name-header{
  font-size: 10px;
}

.channel-label-header{
  flex: 1;
  margin-right: 5px;
}

.channel-box-message-box{
  margin-left: 20%;
  margin-top: 15%;
}


.channel-box-icon-red {
  color: $red;
}
.channel-box-icon-blue {
  color: $blue;
}
.channel-box-icon-orange {
  color: $orange;
}
.channel-box-icon-green {
  color: $green;
}
.channel-box-icon-yellow {
  color: $yellow;
}
.channel-box-icon-pink {
  color: $pink;
}


.channel-box-label-red {
  background-color: $red;
}
.channel-box-label-blue {
  background-color: $blue;
}
.channel-box-label-orange {
  background-color: $orange;
}
.channel-box-label-green {
  background-color: $green;
}
.channel-box-label-yellow {
  background-color: $yellow;
}
.channel-box-label-pink {
  background-color: $pink;
}
