<!-- <div [ngClass] ="yellow" (click) = 'switchClass()'> -->
<div>
  <div style="display:flex">
    <div>
      <label style="display:inline; flex: 1; margin-right: 5px;">
        <span [ngClass]="'channel-box-icon-' + channel.color" style="margin-left: 2px;">#</span>
        <span style="font-size: 10px;">{{channel.name}}</span>
      </label>
    </div>
    <label [ngClass]="'channel-box-label-'+ channel.color" style="float: right; height: 5%; flex: 2">&nbsp;</label>
  </div>
  <div>
    <app-message-box [messageObj]="channel.messages[0]"></app-message-box>
  </div>
</div>
