<!--The content below is only a placeholder and can be replaced.-->

<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" /> -->
</head>
<body class="container">
  <img src="../../assets/online-logo.png" />
  <h1>
    {{title}}
  </h1>

  <nav>
    <ul>
      <li>
        <a href="/home">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/channels" href="">
          Channels
        </a>
      </li>
      <li>
        <a href="./members-page">
          Members
        </a>
      </li>
      <li>
        <a href="">
          Other
        </a>
      </li>
    </ul>
  </nav>
  <!-- <channel-display></channel-display> -->
  <div class="purple-rectangle">

  </div>
  <router-outlet></router-outlet>
</body>
</html>
