body {
  font-family: Arial;
  color: white;
  background-color: #3B3B3B;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
h1 {
  position: absolute;
  display: inline;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
nav {
  text-align: center;
  background: gray;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    border-left: 2px white solid;
  }
}
a {
  text-decoration: none;
  color: white;
}
