<!--The content below is only a placeholder and can be replaced.-->

<html>
<head>
</head>
<body>
  <img src="../../assets/online-logo.PNG" />
  <h1>
    {{title}}
  </h1>

  <nav>
    <ul>
      <li>
        <a href="">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/channels" href="">
          Channels
        </a>
      </li>
      <li>
        <a href="./members-page">
          Members
        </a>
      </li>
      <li>
        <a href="">
          Other
        </a>
      </li>
    </ul>
  </nav>
  <channel-display></channel-display>
  <router-outlet></router-outlet>
</body>
</html>
