<!--The content below is only a placeholder and can be replaced.-->
<html>
<head>
</head>
<body>
  <h1>
    @#{{title}}!
  </h1>
  <nav>
    <ul>
      <li>
        <a href="">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/channels" href="">
          Channels
        </a>
      </li>
      <li>
        <a href="">
          Members
        </a>
      </li>
      <li>
        <a href="">
          Other
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>
