<div>
  <div class="purple-rectangle">

  </div>
  <ul>
    <li *ngFor="let member of members, index as i" (click)="onSelect(member)">
      <span>
        <div class="member-status" *ngIf="member.presence=='active'">
          <img src="../../assets/online-logo.png" />
        </div>
        <img src="{{member.image}}" />
        <div class="member-name">
          {{member.name}}
        </div>
      </span>
    </li>
  </ul>
</div>
<div [ngClass]="{'grey-sheet':selectedMember}">
</div>
<div *ngIf="selectedMember">
  <div class="modal">
    <img src="{{selectedMember.image}}" />
    <div class="member-name-background">
      <div class="member-detail-name">
        {{selectedMember.name}}
      </div>
    </div>
    <div class="member-online-background">
      <img src="../../assets/online-logo.png" />
    </div>
    <button class="exit-button" type="button" (click)="removeSelected()">X</button>
    <div class="member-detail-white-box">

    </div>
    <div class="member-info">
      {{selectedMember.email}}
    </div>
  </div>
</div>
